/* Allow images to be within the div without overflowing 
 * Source:  http://learnlayout.com/clearfix.html
 */ 

.clearFix {
    overflow: auto;
    zoom: 1;
}


body {
    /* max-width instead of width: to improve the browser's handling of small windows */
    max-width: 1000px;  /* as  sepecified */

    /* centering the text*/
    text-align: center;

    /* center the content */
    margin-right: auto;
    margin-left: auto;

    background-color: rgba(148, 191, 215, 0.24);
}

/* Adjusting for smaller screen size   */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Round the images under header */
header > img {
	border-radius: 15px;
}

/* Put it to the right of the page */
#showCartButton {
    float: right;
}

/* To allow child nodes to have absolute position */
#mainContent {
	position: relative;
}

/* Navigation Menu: put it to the left; */
#navMenuDiv{
	float: left;
}

/* Style for the menu*/
#navigationMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style for each item */
#navigationMenu li{
    padding: 8px;
    margin-bottom: 7px;
    border-radius: 8px;
    background-color: #E6E6E6;
    border: solid 1px rgba(135, 172, 189, 0.39);
    color: #002145;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Make it look responsive */
#navigationMenu li:hover {
    color: #E6E6E6;
    background-color: #002145;
}

/* The productList images with a hidden scrollbar*/
#imageGallery {
	margin-left: 20.82%;
	overflow: hidden;
	padding-bottom: 50px;
}

/* To allow child nodes to have absolute position */
#productList{
	position: relative;
}

/* Style for the products list*/
.productDiv {
	position: relative;
	margin: 20px 30px;
	float:left;
}

/* Style for each product image*/
.productImg {
	border-radius: 15px;
    opacity: 1;
	max-width: 200px;
	max-height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* styling for div containing add/remove buttons and cart image */
.overlay {
	position: absolute;
    transition: 1s ease;
	opacity: 0;
    top: 0%;
    left: 0%;
}

/* styling for div containing border shadow and price div */
.overlay2 {
	position: absolute;
    transition: 1s ease;
	background-color: black;
	border-radius: 15px;
	opacity: 0;
	position: absolute;
	top: -12px;
	left: -12px;
	width: 223px;
	height: 235px;
}

/* make each product look responsive */
.productDiv:hover .productImg {
    opacity: 0.3;
}

.productDiv:hover .overlay {
    opacity: 1;
}

.productDiv:hover .overlay2 {
    opacity: 0.4;
}

/* styling for cart image */
.cartImg {
	border-radius: 15px;
	background-color: black;
	opacity: 0.5;
	width: 200px;
	max-height: 170px;
}

/* styling for add to cart button */
.addToCartButton{
	background-color: green;
	opacity: 0.9;
	color: white;
	position: absolute;
	border-radius 15px;
	top: 43%;
	left: 8%;
	width: 34%;
	height: 20%;

}

/* styling for remove from cart button */
.removeFromCartButton{
	background-color: red;
	opacity: 0.9;
	color: white;
	position: absolute;
	border-radius 15px;
	top: 43%;
	left: 51%;
	width: 34%;
	height: 20%;
}

/* styling for cost div */
.productCostDiv {
	color: white;
	position: absolute;
	top: 80%;
}

/* styling for product name div */
.productNameDiv {
	color: black;
	position: absolute;
	//top: 0%;
}

/* helps easily adjust width using css grid format */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
