/*
 * Best practices and layout guidelines adapted from: 
 *  
 *  Aviral Garg
 *  learnlayout.com
 *  Kumseok Jung
 *
 */


/* This is to ensure that increasing width does not affect the padding */
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}



body{
	max-width: 1000px;	
 	background: #f0f7fb;
 	margin-right: auto;
    margin-left: auto;
    border: 1px solid red;
}

header{
	
}

#logo{
	height : 200px;
	width  : 130px ;
}

#welcomeBanner{
	height: 220px;
	width:  780px;
}

#topImages{
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

#footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;

}

#navigationMenu ul{
	list-style-type: none;
	font-family : Arial;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 18pt;
	border: 1px dotted blue;
	margin-left: 0px;
}

#navigationMenu ul button{
	background-color: #f0ece2;
	max-width: 200px;
	margin-left: 0px;
	margin-top: 4px;
	padding: 15px 20px;
	align-content: left;
	border-radius: 15px;
}

#navigationMenu ul button:hover{
	color: #000000;
	background-color: #ffffff;
}