/*
 * Best practices and layout guidelines adapted from: 
 *  
 *  Aviral Garg
 *  learnlayout.com
 *  Kumseok Jung
 *
 */


/* This is to ensure that increasing width does not affect the padding */
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


/* Set max width to 1000px */
body{
	max-width: 1000px;	
 	background: #f0f7fb;
 	margin-right: auto;
    margin-left: auto;
    border: 1px solid red;
}

/* Nothing for now */
header{
	
}

#logo{
	height : 200px;
	width  : 130px ;
}

#welcomeBanner{
	height: 220px;
	width:  780px;
}


#topImages{
	display: inline-block;   /* Inline-block: appears in line  */
	margin-right: auto;
	margin-left: auto;
}


#navigationMenu{
	display: inline-block;
	float: left;   /* this puts the menu at the left of the page */
	overflow: hidden;
}

/* Sets the properties for the ul */
#navigationMenu ul{
	list-style-type: none;
	font-family : Arial;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 18pt;
	border: 1px dotted blue;
	margin-left: 0px;
}

/* Each element in the ul is a button */
#navigationMenu ul button{
	background-color: #f0ece2;
	max-width: 200px;
	margin-left: 0px;
	margin-top: 4px;
	padding: 15px 20px;
	align-content: left;
	border-radius: 15px;
}

/* Action to change the button appearance when you hover */
#navigationMenu ul button:hover{
	color: #000000;
	background-color: #ffffff;
	cursor: pointer;
}

/* This is the grid of products */
#productList{
	display: block;
	float: right;
	list-style-type: none;
	width: 800px;
	height: 800px;
	overflow: hidden;   /* so we dont see overflow */
}

/* Each div containing picture + price + caption */
.product div{
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 7px;
	padding: 7px;
	cursor: pointer;
}


.overlay{
	z-index: 1;
	opacity: 0.25;
	transition: 0.5s;
	content: "images/cart.png";
}

.product:hover .overlay{
	display: block;
}

/* The list of products */
#productList ul{
	float: left;
	overflow: hidden;
	list-style: none;
}

/* Each li within the ul */
#productList ul li{
	float: left;
	overflow: hidden;
	list-style: none;
}

/* The caption text */
.product>div>div{
	text-align: center;
	position: relative;
	font-family: Arial;
}

/* The price. Interestingly enough, this will also show Arial, because its parent is Arial too */
.product>div>div>span{
	top: 120px;
	width: 100%;
	align-self: center;
	visibility: hidden;
	position: absolute;
	display: block;
	z-index: +1;
	background: #BFCAD8;
}

/* Gray background when you hover */
.product:hover div{
	background: #E6E8EC;
}

/* Display price when you hover */
.product:hover div>div>span{
	visibility: visible;
}

/* Image of product */
#productList li img{
	width: 150px;
	height: 150px;
	border-radius: 7px;
}

/* Footer: nothing interesting */
#footer{
  display: inline-block;  /* This line did the trick */
  width: 1000px;
  height: 15px;
  margin-right: auto;
  margin-left: auto; 
  background-color: #efefef;
  text-align: center;

}
